@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden.md\:flex.items-center.space-x-6 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.overlay-control-hide {display:none}